---
layout: default
---

<style>
  .sidebar {
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
  }

  .sidebar a {
    display: block;
    color: black;
    text-decoration: none;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
</style>

<div class="home" style="min-height: 72vh;">
  <div class="sidebar">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-flex col-2 bg-light sidebar" style="min-height: 72vh;">
      <div class="sidebar-sticky">
        <a class="nav-link" href="/index.html">
          <h6 class="sidebar-heading text-muted d-flex justify-content-between align-items-center">
            Lista di applicazioni
          </h6>
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-price.html">
              AL-Price
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-commission.html">
              AL-Commission
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-pa.html">
              AL-Fattura PA
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/extended-dimensions.html">
              AL-Extended-Dimensions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-vee.html">
              AL-VAT Extended Exemption
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-print.html">
              AL-Print
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-fa.html">
              AL-Foundation App
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-dt.html">
              AL-Document Template
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-finance.html">
              AL-Finance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-combship.html">
              AL-Combine Shipment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/al-logistic.html">
              AL-Logistic
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="content">
    <div class="card">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <h5 class="card-title">Dynamics App Lab</h5>
        <p class="card-text">Through this site it is possible to learn how to use and discover all the features
          of the applications proposed by the Dynamics App Lab company. Privacy terms are also available
          and the conditions of use.
        In the hope that our guidelines will help you use apps more effectively, we hope you have a bright day.
        </p>
      </div>
    </div>
  </div>

</div>
