<footer class="footer site-footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="contact-list">
                    <li class="p-name">Dynamics App Lab Limited help</li>
                    <li><a class="u-email" href="mailto:info@dynamicsapplab.com">info@dynamicsapplab.com</a></li>
                </ul>
            </div>
            <div class="col">
                <p>Site owned by Dynamics App Lab Limited. It provides support for the apps it distributes and the terms and conditions for their use.</p>
            </div>
        </div>
        <div class="row">
            <div class="container mt16 mb8">
                <div class="float-right text-muted" itemscope="itemscope" itemtype="http://schema.org/Organization">
                    Copyright © <span itemprop="name">Dynamics App Lab Limited</span>
                </div>
            </div>
        </div>
    </div>
</footer>
