<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/index.html"><img src="../img/src/LogoNomeDyn.png" width="80px"></a>

        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="instructions" href="">Istruzioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="terms&conditions" href="">Termini & condizioni d'uso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/privacy.html">Privacy</a>
                </li>

            </ul>
        </div>
    </nav>
</header>