<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.8.0 -->
    <title>Dynamics App Lab help | Site owned by Dynamics App Lab Limited. It provides support for the apps it distributes and the terms and conditions for their use.</title>
    <meta name="generator" content="Jekyll v4.2.2" />
    <meta property="og:title" content="Dynamics App Lab help" />
    <meta property="og:locale" content="en_US" />
    <meta name="description"
        content="Site owned by Dynamics App Lab Limited. It provides support for the apps it distributes and the terms and conditions for their use." />
    <meta property="og:description"
        content="Site owned by Dynamics App Lab Limited. It provides support for the apps it distributes and the terms and conditions for their use." />
    <link rel="canonical" href="http://localhost:4000/" />
    <meta property="og:url" content="http://localhost:4000/" />
    <meta property="og:site_name" content="Dynamics App Lab help" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Dynamics App Lab help" />
    <script type="application/ld+json">
  {"@context":"https://schema.org","@type":"WebSite","description":"Site owned by Dynamics App Lab Limited. It provides support for the apps it distributes and the terms and conditions for their use.","headline":"Dynamics App Lab help","name":"Dynamics App Lab help","url":"http://localhost:4000/"}</script>
    <!-- End Jekyll SEO tag -->
    <link rel="stylesheet" href="/assets/main.css">
    <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Dynamics App Lab help" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
