<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index.html"><img src="../img/src/LogoNomeDyn.png" width="80px"></a>
        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.url != '/privacy.html' %} active {% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if page.url == '/privacy.html' %} active {% endif %}">
                    <a class="nav-link" href="../pages/privacy.html">Privacy</a>
                </li>
            </ul>
        </div>
    </nav>
</header>