---
layout: default
---
<div class="home">
    <main class="page-content" aria-label="Content">
        <div class="container my-auto" style="width: 70%;">
            Through this site it is possible to learn how to use the apps published by Dynamics App Lab and read the privacy policy and terms d
    the conditions of use. In each guide, the steps to create the setups necessary for correct functionality of the app are written
     photos and examples useful for understanding the user who, let's face it, sometimes isn't very smart. Hoping to have snatched you away
     a smile and in order to best help you use the apps, we wish you a good day.
        </div>
    </main>

</div>

<!-- Con questo testo non vogliamo dire granchè, solo il latino è bello perciò con il traduttore abbiamo tradotto il testo di presentazione.  -->
<!-- Attraverso questo sito è possibile imparare ad utilizzare le app pubblicate da Dynamics App Lab e leggere l'informativa sulla privacy e i termini d
    elle condizioni d'utilizzo. In ogni guida sono scritti i passaggi per creare i setup necessari ad una corretta funzionalità dell'app, attraverso
     foto ed esempi utili alla comprensione dell'utente che, diciamocelo, alle volte non è molto sveglio. Nella speranza di avervi strappato 
     un sorriso e al fine di aiutarvi al meglio nell'utilizzo delle app, vi auguriamo una buona giornata. -->