<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header2.html %}

    <div class="wrapper my-4 ">
        {{ content }}
    </div>
    {% include footer.html %}

</body>

</html>